<nav class="breadcrumbs">
  <a href="/">{{partialCached "icons/home-icon.svg" .}}</a>
    {{ template "breadcrumb" dict "currentPage" .Page}}
</nav>
  
<!-- templates -->
  {{ define "breadcrumb" }}

   {{ if .currentPage.Parent }}
   {{ if ne .currentPage.Parent .IsHome }}
      {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
    {{ end }}
    <span class="breadcrumbs__separator"> / </span><a href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a> 

  {{ end }}
  {{ end }}