<nav class="breadcrumbs">
  <a href="/" class="breadcrumbs__item --is-clickable">{{partialCached "icons/home-icon.svg" .}}</a>
    {{ template "breadcrumb" dict "currentPage" .Page "isCurrent" true}}
</nav>
  
<!-- templates -->
  {{ define "breadcrumb" }}

   {{ if .currentPage.Parent }}
   {{ if ne .currentPage.Parent .IsHome }}
      {{ template "breadcrumb" dict "currentPage" .currentPage.Parent "isCurrent" false }}
    {{ end }}
    <span class="breadcrumbs__separator"> / </span>
    {{ if .isCurrent }}
      <a class="breadcrumbs__item">{{ .currentPage.Title }}</a> 
    {{ else }}
      <a class="breadcrumbs__item --is-clickable" href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a> 
    {{ end }}
  {{ end }}
  {{ end }}

