<!--<div>
    <nav>
        {{ range .Site.Menus.main }}
            {{ $icon := printf "<span class=\"%s\"></span>" .Pre }}
            {{ $text := print $icon " " .Name | safeHTML }}
            <a href="{{ .URL }}">{{ $text }}</a>
        {{ end }}
    </nav>
</div>-->



<nav>
    <ul id="main-menu-content" class="main-menu__list js-menu__list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
                <li class="main-menu__item">
                    <a href="{{ .URL }}" class="main-menu__link">
                        <span class="{{ .Pre }}">  {{ .Name }}</span>
                    </a>
                </li>
        {{ end }}
    </ul>
</nav>

