<nav class="navbar"> 

    <button id="back-navbar-btn" class="navbar__btn js-navbar__btn">
        <span class="material-icons navbar__icon">arrow_back</span>
    </button>

    <button id="main-navbar-btn" class="navbar__btn js-navbar__btn">
        <span class="navbar__icon js-navbar__icon"><span>MENU</span></span>
    </button>

    <button id="toc-navbar-btn" class="navbar__btn js-navbar__btn">
        <span class="material-icons navbar__icon js-navbar__icon">list</span>
    </button>

</nav>

{{ partial "navigation/main-menu.html" . }}
{{ partial "document/toc.html" . }}

 {{/*   <nav class="navbar">

        <menu id="back-navbar-btn" class="navbar__btn js-navbar__btn">
            <span class="material-icons navbar__icon">arrow_back</span>
        </menu>
    
        <button class="menu">
            <span id="main-navbar-btn" class="navbar__btn js-navbar__btn">MENU</span>
             {{ partial "navigation/main-menu.html" . }}
        </button>
    
        <button class="menu">
        <span id="toc-navbar-btn" class="navbar__btn js-navbar__btn">
            <span class="material-icons navbar__icon js-navbar__icon">list</span>
        </span>
        {{ partial "document/toc.html" . }}
        <div class="menu"></div>
    </nav>

    */}}