.articles-list{

    &__item{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--neutral-clr-lighter);
    margin: 20px 0;

    &:hover {
        //border: 1px solid var(--neutral-clr);
    }
    }

    &__title{
        font-size: var(--fs-2);
    }

    &__link:hover{
        color: var(--primary-clr-dark);
        }

    &__data{
        font-size: var(--fs-p);
        //display: inline-flex;

    }

    &__summary{
        font-size: var(--fs-p);
        font-style: italic;
        text-align: justify;
    }
}