.breadcrumbs {
    color: var(--neutral-clr);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    &__separator {
        color: var(--primary-clr-dark);
        padding: 0 5px;
    }

    & .menu__icon{
        fill: var(--neutral-clr);
        height: 0.8em;
    }
}