.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--mobile-navbar-height);
    overflow-x: auto;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 99;

    &__bttn {
        margin: 0;
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
        z-index: 10;
        background: var(--neutral-clr-dark);
        color: var(--neutral-clr-lighter);

        &.-js-is-active {
            color: var(--primary-clr);
        }
    }
}

