:root {
    --primary-clr-lighter: hsl(22, 100%, 90%); // Background
    --primary-clr-light: hsl(22, 100%, 65%); // Decoration
    --primary-clr: hsl(22, 100%, 50%); // Decoration (main)
    --primary-clr-dark: hsl(22, 100%, 45%); // Text
 
    --secondary-clr-lighter: hsl(209, 100%, 90%); // Background
    --secondary-clr-light: hsl(209, 100%, 65%); // Decoration
    --secondary-clr: #0084ff; // Decoration (main)
    --secondary-clr-dark: hsl(209, 100%, 35%); // Text

    --neutral-clr-lighter: hsl(0, 0%, 97%); // Non-pure white background
    --neutral-clr-light: hsl(0, 0%, 90%); // Background
    --neutral-clr: hsl(0, 0%, 40%); // Text
    --neutral-clr-dark: hsl(0, 0%, 7%); // Text and non-pure black background

    --mobile-header-height: 75px;
    --mobile-navbar-height: 55px;
}

* {
    margin: 0;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /*  margin: var(--mobile-header-height) 0 var(--mobile-navbar-height) 0;*/
    margin: 0 0 var(--mobile-navbar-height) 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--neutral-clr-lighter);
    

}

.header {
    /* position: absolute;
    top: 0; */
    width: 100%; /* Replaced vw by % to avoid x-scroll bar*/
    height: var(--mobile-header-height);
    background-color: var(--neutral-clr-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.web-logo {
    height: 55px;

    &__brain {
        stroke: var(--secondary-clr-light);
    }

    &__silhouette {
        stroke: var(--primary-clr-light);
    }
}

.web-name {
    height: 45px;

    &__rg {
        fill: var(--primary-clr);
    }

    &__ogerallart {
        fill: var(--neutral-clr-lighter);
    }

    &__dot {
        fill: var(--neutral-clr-lighter);
    }

    &__net {
        fill: var(--secondary-clr-light);
    }
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--mobile-navbar-height);
    overflow-x: auto;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;

    &__bttn {
        margin: 0;
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
        z-index: 10;
        background: var(--neutral-clr-dark);
        color: var(--neutral-clr-lighter);

        &.-js-active-bttn {
            color: var(--primary-clr);
        }
    }
}

.menu {
    &__list {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100vw;
        bottom: var(--mobile-navbar-height);
        background: black;
        margin: 0;
        padding: 0;
        transform: translateY(calc(100% + var(--mobile-navbar-height)));
        z-index: 1;
        transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s; /* Amagament */
        max-height: 70vh;
        overflow: auto;

        &.-js-active-list {
            visibility: visible;
            transform: translateY(0%);
            transition: transform 0.7s ease-in-out;
        }
    }

    &__item {
        list-style-type: inside;
        border-width: 1px 0px;
        border-color: white;
        border-style: solid;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 10px 20px;
    }

    &__link:visited {
        color: white;
    }

    &__link:hover {
        background-color: var(--primary-clr-dark);
    }
}

.content {
    padding: 15px;
    color: var(--neutral-clr-dark);
}

.breadcrumbs {
    color: var(--neutral-clr);

    strong {
        color: var(--primary-clr-dark);
    }
}

.article {
    &__title {
        color: var(--neutral-clr-dark);
        font-size: 34px;
    }

    &__date {
        color: var(--secondary-clr-dark);
        //border: 1px solid;
        margin: 10px 0;
        font-size: 12px;
    }

    &__date-icon {
        font-size: 12px;
        vertical-align: -2px;
        padding-right: 5px;
    }

    &__category {
        color: var(--neutral-clr);
        //border: 1px solid;
        margin: 10px 0;
        font-size: 12px;
    }

    &__category-icon {
        font-size: 12px;
        vertical-align: -2px;
        padding-right: 5px;
    }

    &__content {
        color: var(--neutral-clr-darker);
        padding: 0;
        margin: 0;
        text-align: justify;
    }

    &__see-also {
        color: var(--neutral-clr-darker);
        background-color: var(--primary-clr-lighter);
        height: 40px;
        padding: 10px;
        margin: 20px 0 20px 0;
        border-left: solid 10px var(--secondary-clr);
    }

    &__tags {
        color: var(--neutral-clr-darker);
        background-color: var(--secondary-clr-lighter);
        height: 40px;
        padding: 10px;
        margin: 20px 0 20px 0;
        border-left: solid 10px var(--primary-clr);
    }

    &__comments {
        color: var(--neutral-clr-darker);
        background-color: var(--neutral-clr-light);
        height: 70px;
        padding: 10px;
        margin: 20px 0 20px 0;
        border-left: solid 10px var(--secondary-clr);
    }
}

.block0,
.block1,
.block2,
.block3,
.block4,
.block4a,
.block5,
.block6,
.block16,
.block10,
.block11,
.block12,
.block13,
.block14,
.block15,
.blockempty {
    /*  border: 1px solid black; */
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.block0 {
    background-color: var(--primary-clr-lighter);
}
.block1 {
    background-color: var(--primary-clr-light);
}

.block2 {
    background-color: var(--primary-clr);
    border: 1px solid black;
}

.block3 {
    background-color: var(--primary-clr-dark);
}

.block4a {
    background-color: var(--secondary-clr-lighter);
}
.block4 {
    background-color: var(--secondary-clr-light);
}

.block5 {
    background-color: var(--secondary-clr);
    border: 1px solid black;
}

.block6 {
    background-color: var(--secondary-clr-dark);
}

.block11 {
    background-color: var(--neutral-clr-lighter);
}
.block12 {
    background-color: var(--neutral-clr-light);
}
.block13 {
    background-color: var(--neutral-clr);
    border: 1px black solid;
}
.block14 {
    background-color: var(--neutral-clr-dark);
}
.block15 {
    background-color: var(--neutral-clr-darker);
}
