{{ define "main" }}

<h1>{{ .Title }}</h1>


{{ range sort .Pages ".Params.position" "asc" }}
{{/* $paginator := .Paginate (where .Data.Pages "Type" "articles") */}}
{{/* $paginator := .Paginate (where .Data.Pages "Type" "articles") 5 */}}


{{/* $paginator := .Paginator */}}
{{/* range $paginator.Pages.ByLastmod.Reverse */}}
<p>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <br>
    {{/* partial "date-and-tags.html" . */}}
</p>
<p>
    {{ .Summary }}
</p>
{{ end }}

{{/* template "_internal/pagination.html" . */}}

{{/* partial "pagination.html" . */}}



{{ end }}

{{ define "navbar" }}
    {{ partial "navigation/navbar/project-list-navbar.html" . }}
{{ end }}