{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $modDateTime := .PublishDate.Format "2006-01-02"}}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

Last modified:
<span>{{ partialCached "icons/calendar-icon.svg" .}}</span> <time datetime="{{ $modDateTime }}">
    {{ .Lastmod.Format $dateFormat }}
</time>
<br>
Created:
<span>{{ partialCached "icons/calendar-icon.svg" .}}</span> <time datetime="{{ $dateTime }}">
    {{ .PublishDate.Format $dateFormat }}
</time>


{{ with .Params.categories }}
    <br>
    <span>{{ partialCached "icons/folder-icon.svg" .}}</span>
    {{ range . }}
        {{ $href := print (absURL "categories/") (urlize .) }}
        <a class="" href="{{ $href }}">{{ . }}</a>
    {{ end }}
{{ end }}
{{ with .Params.tags }}
    <br>
    <span>{{ partialCached "icons/tag-icon.svg" .}}</span>
    {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="" href="{{ $href }}">{{ . }}</a>
    {{ end }}
{{ end }}


