<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/metadata.html" . }}
    {{ partial "head/custom-opengraph.html" . }}
    {{ partial "head/custom-twitter-cards.html" . }}
    {{ partial "head/stylesheets.html" . }}
</head>

<body>
    
    {{ partial "nav.html" .}}

    {{/* Do not show breadcrumb in Homepage */}}
    {{if not .IsHome}}
    {{ partial "breadcrumb.html" . }}
    {{ end }}

    {{ block "main" . }}{{ end }}


    <footer>
        {{ partial "/footer/footer.html" . }}
        {{ partial "/footer/main-script.html" . }}
        {{ partial "/footer/search-script.html" . }}
    </footer>

</body>


</html>