<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head/metadata.html" . }}
    {{ partial "head/custom-opengraph.html" . }}
    {{ partial "head/custom-twitter-cards.html" . }}
    {{ partial "head/stylesheets.html" . }}
</head>

<body>

        {{ partial "header/header.html" . }}
        
        {{/* partial "navigation/navbar.html" . */}}
        {{ block "navbar" .}}        
            {{ partial "navigation/navbar/default-navbar.html" . }}
        {{ end }}

        <main class="content">

        {{/* Do not show breadcrumb in Homepage */}}
        {{if not .IsHome}}
        {{ partial "navigation/breadcrumbs.html" . }}
        {{ end }}

        {{ block "main" . }}{{ end }}
 
    </main>

    <footer class="footer">
        {{ block "footer" .}}
            {{ partial "footer/default-footer.html" . }}
        {{ end }}
        {{ partial "footer/main-script.html" . }}
        {{ partial "footer/search-script.html" . }}
    </footer>

</body>


</html>