<div class="footer__first-row">
Copyright &copy; 2019-{{ dateFormat "2006" now }} Roger Gallart. All rights reserved. <a href="{{ "disclaimer" | absURL }}" class="footer__disclaimer">Disclaimer</a>
</div>
<div class="footer__second-row">
    {{ partial "social-icons-svg/email-icon.html" . }}
    {{ partial "social-icons-svg/github-icon.html" . }}
    {{ partial "social-icons-svg/twitter-icon.html" . }}
    {{ partial "social-icons-svg/linkedin-icon.html" . }}
    {{ partial "social-icons-svg/facebook-icon.html" . }}
</div>