<!--<div>
    <nav>
        {{ range .Site.Menus.main }}
            {{ $icon := printf "<span class=\"%s\"></span>" .Pre }}
            {{ $text := print $icon " " .Name | safeHTML }}
            <a href="{{ .URL }}">{{ $text }}</a>
        {{ end }}
    </nav>
</div>-->



<nav id="menu-panel" class="panel js-panel">
    <h1 class="panel__title">Menu</h1>
    <ul id="menu-content" class="panel__list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
                <li class="panel__item">
                    <a href="{{ .URL }}" class="panel__link">
                        <span class="{{ .Pre }}">  {{ .Name }}</span>
                    </a>
                </li>
        {{ end }}
    </ul>
</nav>

