<nav id="search-panel" class="panel js-panel">

<h1 class="panel__title">Articles</h1>
<ul id="search-content" class="panel__list">
  <li class="panel__item">
    <a href="/articles/" class="panel__link">Latest Articles</a>
  </li>
  <li class="panel__item">
    <a href="/series/" class="panel__link">Featured Series</a>
  </li>
  <li class="panel__item">
    <a href="/categories/" class="panel__link">Browse by Category</a>
  </li>
  <li class="panel__item">
    <a href="/tags/" class="panel__link">Browse by Tag</a>
  </li>
  <li class="panel__item">
    <a href="/search/" class="panel__link">Search</a>
  </li>
  <li class="panel__item">
    <a href="/archive/" class="panel__link">Archive</a>
  </li>
</ul>
</nav>

{{/*  <li class="panel__item panel__item--head">
    <a href="#title-2" class="panel__link">Title 2</a><span class="panel__icon js-fold-btn">❯</span>
    <ul class="panel__list panel__list--level2 -js-is-folded">
      <li class="panel__item panel__item--level2 panel__item--head">
        <a href="#title-21" class="panel__link panel__link--level2">Title 2.1</a><span
          class="panel__icon js-fold-btn">❯</span>
        <ul class="panel__list panel__list--level3 -js-is-folded">
          <li class="panel__item panel__item--level3">
            <a href="#title-211" class="panel__link panel__link--level3">Title 2.1.1</a>
          </li>
          <li class="panel__item panel__item--level3">
            <a href="#title-212" class="panel__link panel__link--level3">Title 2.1.2</a>
          </li>
        </ul>
      </li>
      <li class="panel__item panel__item--level2">
        <a href="#title-22" class="panel__link panel__link--level2">Title 2.2</a>
      </li>
      <li class="panel__item panel__item--level2">
        <a href="#title-23" class="panel__link panel__link--level2">Title 2.3 </a>
      </li>
    </ul>
  </li>
  <li class="panel__item panel__item--head">
    <a href="#title-3" class="panel__link">Title 3</a><span class="panel__icon js-fold-btn">❯</span>
    <ul class="panel__list panel__list--level2 -js-is-folded">
      <li class="panel__item panel__item--level2">
        <a href="#title-31" class="panel__link panel__link--level2">Title 3.1 </a>
      </li>
    </ul>
  </li>
  <li class="panel__item">
    <a href="#title-4" class="panel__link">Title 4</a>
  </li>
</ul>

*/}}