<!--<div>
    <nav>
        {{ range .Site.Menus.main }}
            {{ $icon := printf "<span class=\"%s\"></span>" .Pre }}
            {{ $text := print $icon " " .Name | safeHTML }}
            <a href="{{ .URL }}">{{ $text }}</a>
        {{ end }}
    </nav>
</div>-->



<!-- sidebar start -->
<nav>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        <span class="{{ .Pre }}">{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        <span class="{{ .Pre }}">{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>