{{ define "main" }}
<h1>{{ .Title }}</h1>
<h1>Template static-pages resources</h1>

<!-- {{ partial "headline-hash.html" .Content }}
<aside>{{ partial "toc.html" . }}</aside> -->

{{ $sorted_groups := sort $.Site.Data.resources_data "pos" "asc"}}

{{ range $sorted_groups }}
    {{ $sorted_items := sort .resources "pos" "asc "}}
    <h2 id="{{ .groupid }}">{{ .groupname }}</h2>
        {{ range $sorted_items }}
        <ul>
            <li>Name: {{.name}}</li>
            <li>Type: {{.type}}</li>
            <li>Description: {{.description}}</li>
            <li>Comments: {{.comments}}</li>
            <li>Link: <a href="{{.url}}" target="_blank">Visit web</a></li>
        </ul>
        {{ end }}
{{ end }}

List of resources:
{{ range $sorted_groups }}
    <ul>
        <li><a href="#{{.groupid}}">{{ .groupname }}</a></li>
    </ul>
{{ end }}

{{ end }}
