{{ define "main" }}

<h1>{{ .Title }}</h1>
<h1>Template static-pages resources</h1>



{{ $sorted_groups := sort $.Site.Data.resources_data "pos" "asc"}}

{{ range $sorted_groups }}
    {{ $sorted_items := sort .resources "pos" "asc "}}
    <h2 id="{{ anchorize .groupname }}">{{ .groupname }} 
        <a class="headline-hash" href="#{{ anchorize .groupname }}">#</a>
    </h2>
    <p>{{ .description }}</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Comments</th>
            <th>Link</th>
            <th>Picture</th>
        </tr>
        {{ range $sorted_items }}
        {{ $imgurl := printf "%simg/%s" $.Permalink .img }}
        <tr>
            <td>{{.name}}</td>
            <td>{{.type}}</td>
            <td>{{.description}}</td>
            <td>{{.comments}}</li>
            <td><a href="{{.url}}" target="_blank">Visit web</a></td>
            <td>
                {{ with .img }}
                <img src="{{ $imgurl }}" alt="" height="42" width="42">
                {{ end }}
            </td>
        </tr>   
        
        {{ end }}
    </table>
{{ end }}

<aside>
List of resources:
{{ range $sorted_groups }}
    <ul>
        <li><a href="#{{ anchorize .groupname }}">{{ .groupname }}</a></li>
    </ul>
{{ end }}
</aside>


{{ end }}


{{ define "navbar" }}
    {{ partial "navigation/navbar/resources-navbar.html" . }}
{{ end }}