{{ define "main" }}

<h1>{{ .Title }}</h1>
<h1>Template static-pages resources</h1>

<!-- {{ partial "headline-hash.html" .Content }}
<aside>{{ partial "toc.html" . }}</aside> -->

{{ $sorted_groups := sort $.Site.Data.resources_data "pos" "asc"}}

{{ range $sorted_groups }}
    {{ $sorted_items := sort .resources "pos" "asc "}}
    <h2 id="{{ anchorize .groupname }}">{{ .groupname }} 
        <a class="headline-hash" href="#{{ anchorize .groupname }}">#</a>
    </h2>
    <p>{{ .description }}</p>
        {{ range $sorted_items }}
        {{ $imgurl := printf "%simg/%s" $.Permalink .img }}
        <ul>
            <li>Name: {{.name}}</li>
            <li>Type: {{.type}}</li>
            <li>Description: {{.description}}</li>
            <li>Comments: {{.comments}}</li>
            <li>Link: <a href="{{.url}}" target="_blank">Visit web</a></li>
            <li>Picture: 
                {{ with .img }}
                <img src="{{ $imgurl }}" alt="" height="42" width="42">
                {{ end }}
            </li>
            
        </ul>
        {{ end }}
{{ end }}

<aside>
List of resources:
{{ range $sorted_groups }}
    <ul>
        <li><a href="#{{ anchorize .groupname }}">{{ .groupname }}</a></li>
    </ul>
{{ end }}
</aside>


{{ end }}
