{{ define "main" }}

{{ $series_list := sort $.Site.Data.series_list "pos" "asc"}}

<section id="">
    <ul>
        {{ range $elem_val := $series_list }}
        <li id="{{ $elem_val.id }}">{{ $elem_val.name }}</li>

        {{ $taxonomy := index $.Site.Taxonomies.series $elem_val.id}}
        <ul>
            {{ range $taxonomy.Pages }}
            <li id=""><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>

        {{ end }}

    </ul>
</section>

<!-- <aside>
    {{ partial "series-list.html" . }}
</aside> -->

<aside>
    Table of contents
    <ul>
        {{ range $elem_val := $series_list }}
        <li>
            <a href="#{{ $elem_val.id }}">{{ $elem_val.name }}</a>
        </li>
        {{ end }}
    </ul>
</aside>

{{ end }}