{{ define "main" }}

<h1>{{ .Title }}</h1>

{{/* {{ range .Pages.ByLastmod.Reverse }} */}}
{{/* $paginator := .Paginate (where .Data.Pages "Type" "articles") */}}
{{/* $paginator := .Paginate (where .Data.Pages "Type" "articles") 5 */}}


{{ $paginator := .Paginator }}
{{ range $paginator.Pages.ByLastmod.Reverse }}
<p>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <br>
    {{ partial "document/date-and-tags.html" . }}
</p>
<p>
    {{ .Summary }}
</p>
{{ end }}

{{/* template "_internal/pagination.html" . */}}

{{ partial "navigation/pagination.html" . }}


<aside>{{ partial "taxonomies/categories-list.html" . }}
    {{ partial "taxonomies/tags-list.html" . }}
</aside>

{{ end }}



{{ define "navbar" }}

    {{ partial "navigation/navbar/article-list-navbar.html" . }}

{{ end }}