{{ define "main" }}

    <section class="articles-list">
        {{/*<h1>{{ .Title }}</h1>*/}}

        <h1>Latest Articles</h1>
        {{ $paginator := .Paginator }}

        {{ range $paginator.Pages.ByLastmod.Reverse }}

            <article class="articles-list__item">
                    <h2 class="articles-list__title"><a href="{{ .RelPermalink }}" class="articles-list__link">{{ .Title }}</a></h2>
                    <p class="articles-list__data">{{ partial "document/date-and-tags.html" . }}</p>
                    <p class="articles-list__summary">{{ .Summary }}</p>
            </article>

        {{ end }}

        {{ partial "navigation/pagination.html" . }}

    </section>

    <aside>
        {{ partial "taxonomies/categories-list.html" . }}
        {{ partial "taxonomies/tags-list.html" . }}
    </aside>

{{ end }}



{{ define "navbar" }}

    {{ partial "navigation/navbar/article-list-navbar.html" . }}

{{ end }}