* {
    margin: 0;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    // margin: var(--mobile-header-height) 0 var(--mobile-navbar-height) 0;
    margin: 0 0 var(--mobile-navbar-height) 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--neutral-clr-lighter);
    position: relative;
}

a {
    text-decoration: none;
   // color: inherit;
}


.content {
    padding: 15px;
    color: var(--neutral-clr-dark);
}

.social{

    &__icon{
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 10px;
    fill: var(--neutral-clr-dark);
    }

    &__link:hover &__icon{
        fill: var(--primary-clr);
    }
}